* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    image-rendering: pixelated;
}

.loadingContainer {
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    color: white;
    position: relative;
}

.running {
    width: 50%;
    position: absolute;
    z-index: 9999;

    /* Animation */
    animation: moveLeftToRight 5s linear infinite;
}

.loadingTxt {
    position: absolute;
    font-size: 100px;
    top: 90%;
    right: 5%;
    color: white;
    font-weight: bold;
    font-size: 30px;
    z-index: 9999;
    /* Bounce Animation */
    animation: bounce 1s ease-in-out infinite;
}

.loadingBackground {
    width: 100%;
}

/* Keyframes for running animation */
@keyframes moveLeftToRight {
    0% {
        left: -50%; /* Start off-screen to the left */
    }
    50% {
        left: 50%; /* Move to the center */
    }
    100% {
        left: 110%; /* End off-screen to the right */
    }
}

/* Keyframes for bounce animation */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Start and end at the original position */
    }
    50% {
        transform: translateY(-20px); /* Move up by 20px */
    }
}
