* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    image-rendering: pixelated;
    font-family:Arial, Helvetica, sans-serif
}

.container {
    height: 100vh;
    background-color: #234e4b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapWrapper {
    position: relative; /* Ensures child elements can be positioned relative to this container */
    width: 80%; /* Adjust as needed */
    padding-top: 60%; /* Maintain aspect ratio (height = 60% of width) */
    background-image: url('../../assets/Story/whole_map-resized.jpg');
    background-size: cover;
    background-position: center;
}

.regionText {
    position: absolute;
    color: white;
    font-size: 1.7vw; /* Responsive font size */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
    transform: translate(-50%, -50%); /* Center the text */
    transition: transform 0.2s ease, font-size 0.2s ease, text-shadow 0.2s ease; /* Smooth animation */
}

.regionText:hover {
    transform: translate(-50%, -50%) scale(1.1); /* Slightly increase the size */
    font-size: 2vw; /* Optional: slightly increase font size */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6); /* Glow effect */
    cursor: pointer;
}



/* Individual Region Positions */
.vocabularytxt {
    top: 30%; /* Adjust percentage to position */
    left: 44%;
}

.grammartxt {
    top: 35%;
    left: 28%;
}

.kanjitxt {
    top: 67%;
    left: 40%;
}

.chattxt {
    top: 40%;
    left: 70%;
}

.towntxt {
    bottom: 25%;
    right: 3%;
}
.backbutton{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 10%;
    cursor: pointer;
}
.backbutton:hover{
    transform: scale(1.1); /* Zoom in the tooltip */
    transition: transform 0.3s ease;
}
