*{
    margin: 0;
    padding: 0;
    image-rendering: pixelated;
}
.container{
    background-image: url('../../assets/StartScreen/homebg.png'); /* Path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.texts{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.options{
    width: 50%;
    margin: 10px;
}
.options:hover{
    cursor: pointer;
}
.title{
    margin-bottom: 70px;
}
.knight{
    display: flex;
    margin-top: auto;
}